{{request-loader
  visible=this.loading
  text=this.loadingText
}}
<h1 class="page-title">Add a New User</h1>

<form {{action "addUser" on="submit"}} class="user-form">
  <div class="form-group">
    <label for="firstName">First Name</label>
    {{input class="form-control" id="firstName" placeholder="First Name" type="text" value=firstName }}
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    {{input class="form-control" id="lastName" placeholder="Last Name" type="text" value=lastName }}
  </div>
  <div class="form-group">
    <label for="address">Address</label>
    {{input class="form-control" id="address" placeholder="Address" type="text" value=address }}
  </div>
  <button type="submit" class="btn btn-primary">Create</button>
  {{#link-to "index" class="btn btn-default"}}Close{{/link-to}}
</form>